/* account-styles.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

header {
    background-color: #4F759B;
    color: #fff;
    padding: 10px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    margin: 5px;
    background-color: #b36e00;
    border: 1px solid #004080;
    border-radius: 4px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

nav a:hover {
    background-color: #004080;
    transform: scale(1.05);
}

.container.account-section {
    background-color: #f8f9fa;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    width: 90%;
    box-sizing: border-box;
    overflow: hidden;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
}

.account-function {
    width: calc(50% - 20px);
    box-sizing: border-box;
    padding: 20px;
    margin: 20px 10px;
    border: 2px solid #ddd;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    overflow: hidden; /* Hide overflowing content */
}

.account-function h3 {
    margin-bottom: 10px;
    color: #b36e00;
}

.account-function label {
    display: block;
    margin-bottom: 10px;
}

.account-function input {
    width: calc(100% - 16px);
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.account-function button {
    background-color: #b36e00;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
}

.account-function button:hover {
    background-color: #004080;
}

.portfolio {
    max-height: 200px; /* Set a fixed height for the portfolio */
    overflow-y: auto; /* Add a vertical scrollbar if content overflows */
}

.transaction-item {
    border: 1px solid #4F759B; 
    border-radius: 10px;
    margin-bottom: 10px; 
    padding: 10px;
}

#totalAmount {
    font-size: 1.2em;
    font-weight: bold;
    color: #b36e00;
}

footer {
    background-color: #4F759B;
    color: #fff;
    padding: 20px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    margin-top: auto;
    border-top: 2px solid #004080;
}
