/* admin-styles.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #00008b;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    font-size: 16px; /* Adjust for readability */
}

header {
    background-color: #4F759B;
    color: #fff;
    padding: 10px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

header img {
    width: auto;
    height: 175px; /* Adjust height as needed */
    margin-right: 20px; /* Add some space between the logo and the text */
    padding-bottom: 20px;
}

#navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center; /* Center items vertically */
}

#navbar li {
    margin-right: 10px; /* Space between nav items */
}

#navbar li:last-child {
    margin-right: 0; /* No margin for the last item */
}

#navbar a,
#navbar .logout-button { /* This applies the styles to both your anchor tags and the logout button */
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    margin: 5px;
    background-color: #b36e00;
    border: none; /* Assuming you want to remove the border to match other nav items */
    border-radius: 4px;
    cursor: pointer; /* Indicates it's clickable */
    transition: background-color 0.3s ease;
}

#navbar a:hover,
#navbar .logout-button:hover { /* Match the hover effect for both */
    background-color: #00008b;
}

.container.admin-section {
    background-color: #f8f9fa;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    width: 90%;
    box-sizing: border-box;
    overflow: hidden;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
}

.admin-function {
    width: calc(50% - 20px);
    box-sizing: border-box;
    padding: 20px;
    margin: 20px 10px;
    border: 2px solid #ddd;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.admin-function:nth-child(odd) {
    border-right: none;
}

.admin-function h3 {
    margin-bottom: 10px;
    color: #b36e00;
}

.admin-function label {
    display: block;
    margin-bottom: 5px;
}

.admin-function input {
    width: calc(100% - 16px);
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.admin-function button {
    background-color: #b36e00;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.admin-function button:hover {
    background-color: #004080;
}

.result-section {
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    margin: 20px 10px;
    border: 2px solid #ddd;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #4F759B;
    color: #fff;
    padding: 20px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    margin-top: auto;
    border-top: 2px solid #004080;
}

/* Media Queries */

/* Hamburger Icon Styles */
#hamburger {
    display: none; /* It should not display on larger screens */
    flex-direction: column;
    cursor: pointer;
    position: absolute; /* Position it at the top-left */
    top: 10px; /* Adjust as needed */
    left: 10px; /* Adjust as needed */
    padding: 10px;
    z-index: 100; /* Ensure it's above other elements */
}

#hamburger div {
    height: 2px;
    background: #fff;
    margin: 4px 0;
    width: 25px; /* Set a fixed width */
}


/* Media Query */
@media (max-width: 576px) {
    /* Hamburger */
    #hamburger {
        display: flex;
    }

    /* Hide the full nav menu */
    #navbar ul {
        flex-direction: column;
        width: 100%;
        display: none; /* Hide by default, shown when menu is toggled */
        position: absolute;
        top: 60px; /* Adjust based on your header's height */
        left: 0;
        background-color: #4F759B;
        border-top: 1px solid #004080;
    }

    #navbar.showMenu ul {
        display: flex;
        flex-direction: column;
        background-color: #4F759B;
    }

    #navbar.showMenu ul li {
        text-align: center;
        color: #fff;
    }

    #navbar.showMenu ul li a {
        display: block;
        color: #fff;
        background-color: #b36e00;
    }

    /* Container to slide in nav */
    #navbar {
        display: none; /* Hidden by default, shown when menu is toggled */
        flex-direction: column;
        align-items: flex-start;
    }

}


@media (max-width: 1200px) {
    form, .container.admin-section {
        flex: 0 1 calc(95% - 20px);
        margin: 0 10px;
    }
}

@media (max-width: 768px) {
    form, .container.admin-section  {
        flex: 0 1 calc(95% - 20px);
        margin: 0 10px;
    }
}

@media (max-width: 992px) {
    nav li {
        margin-right: 5px;
    }
}


@media (max-width: 576px) {
    nav a {
        padding: 8px;
        margin: 2px;
    }
}
