/* stock-trading-styles.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #00008b;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    font-size: 16px; /* Adjust for readability */
}

header {
    background-color: #4F759B;
    color: #fff;
    padding: 10px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

header img {
    width: auto;
    height: 175px; /* Adjust height as needed */
    margin-right: 20px; /* Add some space between the logo and the text */
    padding-bottom: 20px;
}

#navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center; /* Center items vertically */
}

#navbar li {
    margin-right: 10px; /* Space between nav items */
}

#navbar li:last-child {
    margin-right: 0; 
}

#navbar a,
#navbar .logout-button { 
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    margin: 5px;
    background-color: #b36e00;
    border: none; 
    border-radius: 4px;
    cursor: pointer; 
    transition: background-color 0.3s ease;
}

#navbar a:hover,
#navbar .logout-button:hover { 
    background-color: #00008b;
}

.container-stock-trading-section {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    box-sizing: border-box;
    overflow: hidden;
    margin: 20px auto; 
    max-width: 1200px;
}

.centered-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    width: 100%;
}

.stock-info,
.buy-sell-form {
    flex: 1 1 45%; 
    box-sizing: border-box;
    margin: 0 10px 20px 10px; 
    width: 100%; /* Set width to 100% for full width on mobile */
    max-width: 400px; /* Max width of the form for larger screens */
    margin: 0 auto 20px; /* Center the form with automatic margins and add space below */
   
}


.stock-info h2,
.buy-sell-form h2 {
    margin-bottom: 10px;
}

.stock {
    border: 2px solid #b36e00;
    border-radius: 8px;
    padding: 10px;
    width: 100%; /* Let the grid manage the width */
    box-sizing: border-box;
    margin-bottom: 0; /* No need for margin bottom, grid-gap handles this */
    text-align: center; /* Center text for aesthetics */
    }

.stock-info {
    width: 100%; /* Set to full width to utilize max space for grid */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Creates a responsive grid */
    grid-gap: 10px; /* Spacing between grid items */
    justify-items: center; /* Center items in their cells */
    margin-bottom: 20px; /* Add space below the grid */
    padding: 10px;    
}

.stock p {
    margin: 5px 0; /* Adjust spacing between stock information items */
}

.buy-sell-form label,
.buy-sell-form input,
.buy-sell-form select,
.buy-sell-form button {
    display: block;
    margin-bottom: 10px;
    width: 100%; /* Change inputs and buttons width  */
}

.buy-sell-form button {
    background-color: #b36e00;
    color: #fff;
    padding: 8px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.buy-sell-form button:hover {
    background-color: #2980b9;
}

footer {
    background-color: #4F759B;
    color: #fff;
    padding: 10px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    margin-top: auto;
}

/* Media Queries */

@media (min-width: 1200px) {
    form, .container.stock-trading-section {
        flex: 0 1 calc(95% - 20px);
        margin: 0 10px;
    }
    .container.stock-trading-section {
        width: 95%; /* Use percentage for responsive width */
    }
    .stock-info {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Increase min-width for larger screens */
    }
}

@media (max-width: 768px) {
    form, .container.stock-trading-section  {
        flex: 0 1 calc(95% - 20px);
        margin: 0 10px;
    }
    .stock-info {
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr)); /* Less columns on smaller screens */
    }
}


@media (max-width: 992px) {
    .stock-info,
    .buy-sell-form {
        flex: 1 1 100%; /* Each element takes full width on smaller screens */
        margin: 10px 0; /* Adjust margin to only top and bottom */
    }
    .stock-info {
        grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    }
}


@media (max-width: 576px) {
    .stock-info {
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    }
    .buy-sell-form label,
    .buy-sell-form input,
    .buy-sell-form select,
    .buy-sell-form button {
    width: 100%;
    }
}

