/* stock-trading-styles.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #00008b;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    font-size: 16px; /* Adjust for readability */
}

header {
    background-color: #4F759B;
    color: #fff;
    padding: 10px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

header img {
    width: auto;
    height: 175px; /* Adjust height as needed */
    margin-right: 20px; /* Add some space between the logo and the text */
    padding-bottom: 20px;
}

.logout-button {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    margin: 5px;
    background-color: #b36e00;
    border: 1px solid #004080;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.logout-button:hover {
    background-color: #4F759B;
}


nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    margin: 5px;
    background-color: #b36e00;
    border: 1px solid #004080;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #004080;
}

.container.stock-trading-section {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    box-sizing: border-box;
    overflow: hidden;
    margin: 20px auto; /* Center the container */
}

.centered-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* Changed from space-between to flex-start */
    margin-top: 10px;
    width: 100%;
}

.stock-info,
.buy-sell-form {
    flex: 1 1 45%; /* Allows flexibility and takes up to 45% of the container width */
    box-sizing: border-box;
    margin: 0 10px 20px 10px; /* Adjust margins for spacing */
    /* Remove the calc(50% - 20px) and let flexbox handle the sizing */
}

.stock-info h2,
.buy-sell-form h2 {
    margin-bottom: 10px;
}

.stock {
    border: 2px solid #b36e00;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
}

.stock p {
    margin: 5px 0; /* Adjust spacing between stock information items */
}

.buy-sell-form label,
.buy-sell-form input,
.buy-sell-form select,
.buy-sell-form button {
    display: block;
    margin-bottom: 10px;
    width: 25%; /* Change inputs and buttons width  */
}

.buy-sell-form button {
    background-color: #b36e00;
    color: #fff;
    padding: 8px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.buy-sell-form button:hover {
    background-color: #2980b9;
}

.stock-chart {
    width: 50%; /* Change stock width ? */
    box-sizing: border-box;
    margin: 0 10px 20px 10px auto; /* Adjust margins for spacing between sections */
}

footer {
    background-color: #4F759B;
    color: #fff;
    padding: 10px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    margin-top: auto;
}

/* Media Queries */

@media (max-width: 1200px) {
    form, .container.stock-trading-section {
        flex: 0 1 calc(95% - 20px);
        margin: 0 10px;
    }
}

@media (max-width: 768px) {
    form, .container.stock-trading-section  {
        flex: 0 1 calc(95% - 20px);
        margin: 0 10px;
    }
}


@media (max-width: 992px) {
    .stock-info,
    .buy-sell-form {
        flex: 1 1 100%; /* Each element takes full width on smaller screens */
        margin: 10px 0; /* Adjust margin to only top and bottom */
    }
}


@media (max-width: 576px) {
    .buy-sell-form label,
    .buy-sell-form input,
    .buy-sell-form select,
    .buy-sell-form button {
        width: 100%; /* Ensure form elements take full width */
    }
}
