/* stock-trading-styles.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

header {
    background-color: #4F759B;
    color: #fff;
    padding: 10px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    margin: 5px;
    background-color: #b36e00;
    border: 1px solid #004080;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #004080;
}

.container.stock-trading-section {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    box-sizing: border-box;
    overflow: hidden;
    margin: 20px auto; /* Center the container */
}

.centered-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.stock-info,
.buy-sell-form {
    width: calc(50% - 20px); /* Adjust the width to create a 2-column layout */
    box-sizing: border-box;
    margin: 0 10px 20px 10px; /* Adjust margins for spacing between sections */
}

.stock-info h2,
.buy-sell-form h2 {
    margin-bottom: 10px;
}

.stock {
    border: 2px solid #b36e00;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
}

.stock p {
    margin: 5px 0; /* Adjust spacing between stock information items */
}

.buy-sell-form label,
.buy-sell-form input,
.buy-sell-form select,
.buy-sell-form button {
    display: block;
    margin-bottom: 10px;
    width: 25%; /* Change inputs and buttons width  */
}

.buy-sell-form button {
    background-color: #b36e00;
    color: #fff;
    padding: 8px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.buy-sell-form button:hover {
    background-color: #2980b9;
}

.stock-chart {
    width: 50%; /* Change stock width ? */
    box-sizing: border-box;
    margin: 0 10px 20px 10px auto; /* Adjust margins for spacing between sections */
}

footer {
    background-color: #4F759B;
    color: #fff;
    padding: 10px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    margin-top: auto;
}
